.mainContiner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: var(--base-shadow);
  margin: 1rem 0;
  border: 1px solid light-dark("transparent", var(--mantine-color-gray-7));
}

.tableContainer {
  height: 100%;
  width: 100%;
  border-radius: 6px 6px 0 0;
  background-color: light-dark(var(--mantine-color-white),
      var(--mantine-color-dark));
  border: 1px solid light-dark("transparent", var(--mantine-color-gray-7));

  table {
    table-layout: fixed;
    /* This is must fo resizing and pinning */
    width: 100%;
    position: relative;
    border-collapse: collapse;

    thead {
      background-color: var(--mantine-primary-color-6);
      height: 2.75rem;
      opacity: 1;
      position: sticky;
      top: 0px;
      z-index: 20;

      tr {
        width: 100%;

        th {
          font-size: 0.875rem;
          color: var(--mantine-color-white);
          font-weight: 500;
        }
      }
    }

    tbody {
      tr {
        height: 4rem;
        min-height: 4rem;
        max-height: 4rem;
        border-bottom: 1px solid light-dark(var(--mantine-color-dark-0), var(--mantine-color-gray-7));

        &:hover {
          background-color: light-dark(var(--mantine-color-gray-1),
              var(--mantine-color-dark-5)) !important;
        }

        td {
          padding: 0 0.5rem;
          text-align: center;
          font-size: 0.813rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        &:nth-child(even) {
          background-color: light-dark(var(--mantine-primary-color-0), var(--mantine-color-dark-6));
        }
        &:nth-child(odd) {
          background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
        }
      }
    }
  }
}

footer {
  display: flex;
  position: relative;
  padding-inline: 0.5rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  min-height: 3rem;
  font-size: 0.875rem;
  border-top: 1px solid light-dark(var(--mantine-primary-color-2), var(--mantine-color-gray-8));
  background-color: light-dark(var(--mantine-color-white),
      var(--mantine-color-dark));
}
