.mainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.menuDropdown {
  svg {
    color: var(--mantine-primary-color-5);
  }

  &:hover {
    background-color: light-dark(
      var(--mantine-color-green-1),
      var(--mantine-color-dark-5)
    );
  }
}
