.asideButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  flex-grow: 1;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25rem;
  padding: 0.75rem 0rem;
  width: 100%;
  min-height: 3.75rem;
}
